.layout {
    position: relative;
}

.layout main {
    width: calc(100vw - var(--sidebar-width));
    position: relative;
    left: var(--sidebar-width);
}

.layout img {
    height: 100%;
    width: 100%;
}

.layout_background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.layout_back {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 20px;
}

.layout_background_content {
    margin: var(--main-space);
    width: calc(100vw);
    background-color: rgba(73, 73, 73, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
}